*, *:before, *:after {
  box-sizing: border-box;
}

html {  
  overflow-x:hidden;
  height: 100%;
  min-width: 300px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
}

/* Anchors */
a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #CC9999;
}

/* Headings*/
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  font-family: 'Avant-Garde', sans-serif; 
}

h2 {
    text-align: center;
    color: #1ab188;
    font-weight: 1000;
    margin: 0;
}


h1 {
  color: floralwhite;
  padding-left: 20px;
  top:0px;
  bottom: 30px;
  font-family: "Arial Black", sans-serif;
}

h6 {
  top:0px;
  font-size: 9.5px;
  font-family: "Arial Black", sans-serif;
}

hr.style1 {
	border-top: 2px;
    border-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 0;
    color: black;
}

hr.style5 {
	border-top: 10px dotted #321305;
    width: 80%;
}

hr.style6 {
	border-top: 2px dashed #321305;
    border-bottom: 2px dashed #321305;
    margin-top: 10px;
    margin-bottom: 0;
}

span {
    color: firebrick;
    font-weight: bold;
}

/* p {
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
} */

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

/* Login Form */
.login-form {
  background: rgba(19, 35, 47, 0.65);
  padding: 50px;
  max-width: 400px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin:auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  font-family: 'Titillium Web', sans-serif;
}

.login-form h1{
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  font-family: 'Avant-Garde', sans-serif; 
}
.login-form button{
  font-family: 'Titillium Web', sans-serif;
}

label.login {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.10s ease;
  transition: all 0.10s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label span.req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input.login, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #CC9999;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap1 {
  position: relative;
  margin-bottom: 25px;
}

.field-wrap2 {
  position: relative;
  margin-bottom: 45px;
}

.logout{
  float: right;
}
a.logout-button{
  font-size: 14px;
  margin-right: 16px;
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: inherit;
  background: #FF5566;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: #FF5575;
  cursor: pointer;
}

.button-block {
  display: block;
  width: 100%;
}


/* Lists */
ul {
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

li {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
}

ul.price {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
li.price {
  padding-top:10px;
  padding-bottom: 0;
}

.bestseller {
  font-family: "Impact", sans-serif;
  font-size: 380%;
  color: #C00000;
}

.count-input {
  position: relative;
  margin: 10px 0;
}
.count-input input {
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
  color: black;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
  color: black;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}

/* Navigation Sidebar*/

#navbar {
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  padding-left: 8px;
  z-index: 999;
  position: fixed;
}

.sticky {
  top: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-container {
    display: inline-block;
    cursor: pointer;
    padding-top: 3.5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    background: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: pink;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Page Containers*/

.login-container {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 16px;
}

.menu-container {
  background-image: url(../img/bgg1.jpg);
  width: 100%;
  padding: 16px;
  position: relative;
  min-height: 100vh;
  height: 100%;
  margin-top: 40px;
}

.main {
  padding: 16px;
  border: 1px solid #d4d4d4;
  background: white;
  position: fixed;
}

.list-header {
  display: flex;
  background: #48261c;
  padding: 8px;
  flex: none;
}

.title {
  font-size: 18px;
  font-weight: 400;
  flex-grow: 1;
  color: #ffffff;
}

.primary-actions, .search-bar{
  display: flex;
}

.search-bar {
  margin-right: 4px;
  flex: none;
}

.search-input {
  height: 26px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
}

.icon-button {
  width: 26px !important;
  height: 26px;
  color: #2d2d2d;
  background: #E0E0E0 100px !important;
  font-size: 14px;
  border: 1px solid #2d2d2d;
}

.primary-button, .secondary-button {
  min-width: 100px;
  height: 26px;
  font-size: 13px;
  text-transform: capitalize;
  margin-right: 8px;
}

.primary-button {
  color: #ffffff;
  background: #158006;
  border: 1px solid #158006;
}

.secondary-button {
  color: #2d2d2d;
  background: #E0E0E0 100px !important;
  border: 1px solid #2d2d2d;
  margin-right: 4px;
}

.close-button {
  color: #2d2d2d;
  font-size: 24px;
  border: none;
}

.filter-button {
  width: 100%;
}

.fa-icon {
  margin-right: 4px;
}

.add a {
  color: #fff;
  text-decoration: none;
  line-height: 32px;
  vertical-align: middle;
}

.filter-header{
  display: flex;
  
}

div.filters, div.add-edit {
  padding: 16px;
  border: 1px solid #dddddd;
  background: #dddddd;
}

.filter-title{
  color: #158006;
  font-size: 16px;
}

.input-item{
  padding-top: 4px;
  padding-bottom: 4px;
}

.input-item label{
  font-weight: normal;
}

.input-item input, .input-item select{
  width: 100%;
  height: 26px;
}

.input-button{
  display: flex;
  align-self: flex-end;
}

.list-content {
  padding: 16px;
  background: #ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

thead {
  background: #48261c;
  color: #ffffff;
  font-weight: bold; 
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

th {
  padding: 8px;
  font-size: 12px;
}

td {
  padding: 4px;
  font-size: 12px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

td.menu-thumbnail{
  text-align: center;
  width: 80px;
}

img.menu-thumbnail {
  border:none;
  border-radius: 0;
  width: 80px;
  height: 80px;
  background: #d4d4d4;
}

.list-action {
  text-decoration: none;
  font-size: 24px;
  margin: 0 8px;
}

.error-container {
  margin: 40px auto;
  max-width: 600px;
  border: #4d4d4d;
  background: #dddddd;
  color: #2d2d2d !important;
  padding: 16px;

}

.display-icon {
  margin-right: 4px;
}

/* Customer Menu Styles*/

.customer-index {
  background-image: url(../img/bgg1.jpg);
  width: 100%;
  position: relative;
  min-height: 100vh;
  height: 100%;
  margin-top: 40px;
}

.menu-list-header {
  display: flex;
  max-width: 960px;
  padding: 16px;
  margin: 0 auto;
  align-items: center;
}

.menu-logo img{
  width: 150px;
  height: 150px;
}

.menu-category{
  flex-grow: 1;
  border-top: 10px dotted #321305;
  border-bottom: 10px dotted #321305;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 380%;
  color: #C00000;
}

.menu-filter {
  margin: 40px auto;
  padding: 8px;
  background:  #dddddd;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.menu-filter, .menu-list-content {
  max-width: 960px;
  margin: 0px auto;
  padding: 16px;
}
.fullwidth{
  width: 100%;
  display: flex;
  align-items: center;
}

.filter-fields {
  width: 100%;
  margin-bottom: 12px;
}

.filter-details{
  display: flex;
  align-items: center;
}

.input-label {
  font-weight: bold;
  margin-right: 8px;
  width: 160px;
}

.input-list{
  flex-grow: 1;
  width: 100%;
}

.filter-input {
  align-self: flex-end;
}

.menu-filter a{
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.menu-filter-icon {
  width: 48px;
  height: 48px;
  margin: 0 24px
}

.filter-label{
  font-size: 24px;
}

.menu-add-order{
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.cancel-confirm{
  max-width: 960px;
  margin: 0 auto;
}

.add-orders, .cancel-orders {
  padding: 8px 0;
  border: 1px solid #321305;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
}
.cancel-orders{
  background: #321305;
  border: 1px solid #321305;
}

.add-orders{
  background: #6d3720;
  border: 1px solid #6d3720;
}

.add-orders:hover, .cancel-orders:hover{
  background: #000000;
  border: 1px solid #000000;
}

.complete-orders{
  background: #321305;
  border: 1px solid #321305;
  padding: 8px 0;
  border: 1px solid #321305;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-buttons{
  padding: 0 15px;
}

.btn-best{
  background: #fcc7c7;
  color: #C00000;
  border: 1px solid #C00000;
  padding: 4px;
}

.btn-best:hover{
  background: #C00000;
  color: #ffffff;
  border: 1px solid #C00000;
}

.btn-low{
  background: #fff1bf;
  color: #f9c302;
  border: 1px solid #f9c302;
  padding: 4px;
}

.btn-low:hover{
  background: #f9c302;
  border: 1px solid #f9c302;
  color: #ffffff;
}

.btn-high{
  background: #bfdaff;
  color: #0261dd;
  border: 1px solid #0261dd;
  padding: 4px;
}

.btn-high:hover{
  background: #0261dd;
  color: #ffffff;
  border: 1px solid #0261dd;
}

.no-padding{
  padding: 0px;
}

.menu-tile {
  background: #fcf5ed;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  width: 100%;
}

.menu-details{
  display:flex;
  font-size: 16px;
}

.menu-photo {
  width: 200px;
  height: 200px;
  border-radius: 0;
}

.menu-text {
  flex-grow: 1;
  background: #ffffff;
}

.menu-name {
  width: 100%;
  color: #e2432b;
  padding: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background: #ffffff;
  border-bottom: 2px dashed #e2432b;
}

.menu-price {
  font-weight: bold;
}

.menu-description, .menu-allergen {
  font-size: 12px;
  text-align: justify;
  font-style: italic;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify; 
  margin-right: 4px;
  padding-right: 4px;
  text-overflow: ellipsis;
}

.menu-description, .menu-price, .menu-allergen{
  padding: 4px 8px;
}

.menu-description {
  height: 60px;
  max-height: 60px;
}

.menu-allergen{
  max-height: 32px;
  height: 32px;
}

.menu-actions {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  padding: 0 8px;
}

.decrease, .increase{
  min-width: 64px;
  height: 32px;
  padding: 4px 16px;
  background: #158006;
  border: none;
}

.counter {
  flex-grow: 1;
  min-width: 50px;
}

.counter input {
  text-align: center;
  align-items: center;
  margin: 0  auto;
  height: 32px;
  border: none;
  background: #fffece;
  color: #321305;
}

/* Responsive Styles*/

@media screen and (max-width: 320px){
  .td-xsmall{
    display: none;
  }
  img.menu-thumbnail{
    width: 32px;
    height: 32px;
  }
  .primary-actions, .search-bar{
    display: block;
  }
  .primary-button, .secondary-button {
    margin-top: 4px;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .td-small{
    display: none;
  }
  td.menu-thumbnail{
    width: 32px;
  }
}

@media screen and (max-width: 800px){
  .td-medium{
    display: none;
  }
}

@media screen and (max-width: 400px){
  .list-header{
    display: block;
  }
  .primary-actions, .search-bar{
    display: block;
  }
  .primary-button, .secondary-button {
    margin-top: 4px;
    margin-right: 0;
    width: 100%;
  }
}

.showFilter {
  display: none;
}

.my-orders-content {
  max-width: 960px;
  border-radius: 5px;
  margin: 16px auto;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.table-name{
  width: 100%;
  font-size: 20px;
  background: #1ab188;
  color: #ffffff;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}
.my-orders-content td {
  border-bottom: 2px dotted #FF5566;
}

.my-orders-content img, .order-photo{
  width: 64px;
  height: 64px;
  border-bottom: none;
}

.my-orders-content thead, td.total {
  font-size: 18px;
  border: none;
  font-weight: normal;
  background: transparent;
  color: #1ab188;
}

.my-orders-content thead td, td.total{
  font-size: 18px;
  height: 64px;
}

.my-orders-content td {
  border: none;
  font-size: 13px;
  background: transparent;
}

td.total {
  font-weight: bold;
  color: #C00000;
}